/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// バリデーションの赤枠

.field_with_errors {
  display: contents;
  input, textarea, select, collection_select {
    @extend .is-invalid;
  }
}

a:hover { text-decoration: none;}
a { color: #000000; }

big {
  @extend .alert-danger;
}

#view_more {
  width:200px;
  font-size:18px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  background-color:#EEEEEE;
  border-radius:25px;
  box-shadow:2px 2px #555;
  margin-bottom: 20px;
}
.top_image {
  width:100%;
  max-width: 100%;
  height: auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

.video-content {
 position: absolute;
 width: 100%;
 height: 400px;
 overflow: hidden;
 z-index: -100;
}
.video-bar {
 position: absolute;
 z-index: 2;
 }
 video {
 width: 100%;
 margin-top: -300px;
}

@media screen and (max-width: 1024px) {
 video {
 width: 100%;
 margin-top: -100px;
 }
}
@media screen and (max-width: 576px) {
 video {
 width: 1000px;
 margin-top: -100px;
 margin-left: -180px;
 }
}